{% extends 'base.html' %}

{% block content %}

<div class="content">
  <div class="card">
    <h1>Morse Code Translator</h1>
    <form action="{{ url_for('translator') }}" method="post">
      <label for="mcode">Enter Morse Code</label>
      <input type="text" name="mcode" class="input">
      <button type="submit" class="button mt-btn">Translate Morse Code</button>


      <label for="code">Decoded Text</label>
      <p class="input-p" id="dec-text">{{ text }}</p>


      <button type="button" class="copy-btn" onclick="copyText()">&#128203;</button> <!-- Clipboard symbol -->
    </form>
    <h5>Copy Code</h5>
  </div>
</div>
{% endblock %}


{% block scripts %}
<!-- Add this script to handle the copy functionality -->
<script>
  function copyText() {
    var morseCode = document.getElementById("dec-text").textContent;
    navigator.clipboard.writeText(morseCode).then(function () {
      alert('Morse code copied to clipboard!');
    }, function (err) {
      console.error('Could not copy text: ', err);
    });
  }
</script>
{% endblock %}